* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.container_form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-image: url(https://e0.pxfuel.com/wallpapers/914/570/desktop-wallpaper-pixel-art-pokemon-scenery.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
}

.forms {
    position: relative;
    max-width: 800px;
    width: 100%;
    padding: 20px;
    background: yellow;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    max-height: 90vh; 
    overflow-y: auto; 
}

.form {
    text-align: center;
    margin: 0 auto;
}

.container_input {
    display: flex;
    flex-direction: column;
    align-items: center;
}  


.container_input label {
    font-size: 18px; 
    margin-bottom: 4px; 
    align-items: center;
    display: flex;
    justify-content: center;
}

.container_input input {
    height: 40px; 
    width: 100%; 
    font-size: 1rem;
    color: #707070;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
}

.container_input input[type="number"]::-webkit-inner-spin-button,
.container_input input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0; 
}

.info_form {
    width: 100%;
    margin-top: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.info_form label {
    color: black;
    font-size: 18px;
    letter-spacing: 2px;
}

.info_form input {
    position: relative;
    height: 40px;
    width: 100%;
    min-width: 100px;
    font-size: 1rem;
    color: #707070;
    margin-top: 6px;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
}

.select {
    border: none;
    outline: none;
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 5px;
}

.selected {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 60px;
    min-height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.227);
    color: #000;
    border-radius: 15px;
    padding: 2px 3px;
}

.selected .type {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.227);
    margin: 3px 2px;
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 20px;
    position: relative;
    text-decoration: none;
}


.column {
    display: flex;
    column-gap: 15px;
}

.button_form {
    width: 80px;
    min-width: 120px;
    height: 45px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

.button_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.error {
    color: rgb(255, 0, 0);
    text-align: center;
    margin: 0px;
    font-size: 10px;
    width: auto;
    display: block;
    margin-top: 5px;
}
  
