
.container_home {
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/973/341/desktop-wallpaper-satoshi-pokemon-landscape.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
}


.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
}

.card {
    flex: 0 0 calc(33.33% - 10px);
}

.container_filters {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filters {
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
}

.filter {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
  min-width: 100px;
}

.select {
    height: 10px;
    padding: 18px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.refresh {
    height: 10px;
    padding: 18px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_button {
    margin: 10px;
}

a {
    text-decoration: none;
}

  
@media (max-width: 1200px) {

    .container_home {
        height: 100vh;
        width: 100%;
        background-size: cover;
        background-position: center center;
    }

    .responsive_sidebar {
        position: fixed;
        top: 9rem;
        right: 0;
        bottom: 0;
        left: 1.5rem;
        background-color: yellow;
        z-index: 10;
        width: 40%;
        border-radius: 10px;
        min-width: 300px;
        max-height: 100vh;
        overflow-y: auto;
        display: none;
    }  

    .container_filters.responsive_filters {
        display: none;
    }
      
    .filters {
        display: block;
        align-items: flex-start;
        padding: 20px;
    }

    .filters label.filter {
        margin-bottom: 30px; 
    }

    .filter {
        align-items: flex-start;
    }

    .filters label.filter,
    .filters .select {
        margin: 8px 0;
    }

    .container_button {
        padding: 20px;
    }

    .container_home {
        overflow: auto;
    }

    .sidebar_open {
        font-size: 24px;
        color: black; 
        background: none;
        border: none;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 10px;
        margin: 0 auto;
        /* max-width: 800px;  */
    }
    
    .card {
        flex: 0 0 calc(50% - 10px);
    }

}
