.container_landing {
    background-image: url(https://wallpaperaccess.com/full/3062895.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
}

.title_landing img{
    padding: 40px;
}

.button_landing .landing_button{
    height: 10px;
    padding: 18px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.button_landing {
    display: flex;
    justify-content: flex-end;
    padding: 40px;
    margin-top: 10rem;
}

@media (max-width: 768px) {
    .container_landing {
        height: 100vh;
        width: 100%;
        background-size: cover;
        background-position: center center;
    }

    .title_landing img {
        max-width: 100%;
    }

    .button_landing {
        justify-content: center;
    }
}
